#customers {
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}
h1, h4 {
	text-transform: uppercase;

}

h1 {
	font-weight: 500;
	font-weight: bold;
	line-height: 60px;
}

h4 {
	border-bottom: solid green 1px;
	display: inline-block;
}

div .all {
	width: 300px;
	height: 550px;
}

.break {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.img img {
	display:block;
	margin: auto;
	height: 280px;

}

.personAddr1 {
	text-transform: uppercase;
	color: #ccc;
	padding-bottom: 20px;

}

.personAddr2 {
	font-weight: 300;
}

.location {
	display: block;
	text-transform: capitalize;
}

.personPhone {
	line-height: 60px;
}

.ssn {
	color: transparent;
   text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ssn:hover {
	color: green;
	text-shadow: none;
}

/*
body {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  background-color: white;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 12px;
}

.customers {
  margin: 5%;
  display: flex;
  /*flex-flow: row wrap;*/
  /*width: 80%;
  justify-content: center;
  flex-wrap: wrap;
}

.customers div {
  text-align: center;
  flex: 1;
  padding: 20px;
}

.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.name {
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 3px dotted green;
  padding: 10px;
}

img {
  width: 15em;
  height: 15em;
  border: 2px solid black;
}

.personEmail {
  font-size: .3em;
}

.personEmail:hover, .personPhone:hover {
  color: green;
}

.locationInfo {
  display: flex;
  flex-wrap: wrap;
}*/


/*could not get ssn to show in div, so i am removing it*/


/*.ssn {
  color: transparent;
  text-shadow: 0 0 5px grey;
}

.ssn: hover {
  color: green;
  text-shadow: none;
}*/
