* {
  margin: auto;
  box-sizing: border-box;
}

.location {
  display: flex;
  flex-wrap: wrap;
}

address {
  line-height: 90%;
  margin: 15% auto;
}

h2 {
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: underline solid green;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  margin: 50px auto;
}

.customers {
  margin: 5%;
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  font-weight: bold;
}

img {
  background: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  width: 15em;
  height: 15em;
  border: 2px solid black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 200;
  box-sizing: border-box;
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 0;
  background-color: white;
  font-size: 12px;
}

#staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
